body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}
.bottom-buffer{
    margin-bottom: 20px;
}
.randlinks {
    padding-left: 100px;
}
#theMachine {
    height: 300px;
    background-color: rgb(170,135,222);
    border: 2px solid rgb(90,44,160);
    border-radius: 8px;
    font-size: 12px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
}
#urstapel,
.resultCard {
    width: 150px;
    min-height: 100px;
    padding-bottom: 100px;
    border-radius: 15px;
    border: 2px solid rgb(0,212,85);
    background-color: rgb(85,255,153);
    text-align: center;
    border-top: none;
}

.border {
    border: 1px solid #000;
}

.bucket {
    width: 200px;
    height: 350px;
}

.bucket {
    background-color: #e6e6e6;
    border-radius: 8px;
}
.activebucket {
    background-color: rgb(255,153,85);
    border: 2px solid rgb(170,68,0);
    border-radius: 8px;
}
.cardentry {
    border-top: 2px solid  rgb(0,212,85);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
}