#theMachine {
    width: 200px;
    height: 200px;
    background-color: green;
}
#urstapel {
    width: 150px;
    height: 200px;
    background-color: yellow;
}
#result1 {
    width: 150px;
    height: 200px;
    background-color: yellow;
}
#result2 {
    width: 150px;
    height: 200px;
    background-color: yellow;
}
#result3 {
    width: 150px;
    height: 200px;
    background-color: yellow;
}
#result4 {
    width: 150px;
    height: 200px;
    background-color: yellow;
}

.resultCard {
    width: 150px;
    height: 200px;
    background-color: yellow;
}